.header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgba(126,213,111,.9),rgba(40,180,131,.6)),url(../../assets/nat-1.jpg);
    background-position: center;
    height: 70px;
    width: 100%;
    margin-bottom: 25px;


    .logo-container{
        height: 100%;
        width: 70%;
        padding: 25px;
    }

    .logo{

    }

    .options{
        
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .option{
        padding: 10px 15px;
        text-decoration: none;
        cursor: pointer;
        
        &:hover{

        }

        &:active,
        :link{

        }
    }


}